<div id="modal" class="error-ic">

    <div class="content">
        <img src="assets/error.svg" alt="Cadastro concluído">
            <h1>Erro no Cadastro</h1>
            <p>Icons made by</p> <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>
</div>

<script>
    setTimeout(() => {
        window.location = "/create-point"  //Redirecionamento para página 
    
    }, 2000)


</script>